{% extends 'base/base.html' %}
{% block start %}
<br><br>
  <div class="content">
    
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          

          <div class="row justify-content-center">
            <div class="col-md-6">
              
              <h3 class="heading mb-4" Style="color:black;font-weight: bold;font-size:35px">Let's talk about<br> everything!</h3>
              <p>Get in touch with us for all your needs.</p>

              <p><img src="/static/contact/images/undraw-contact.svg" alt="Image" class="img-fluid"></p>


            </div>
            <div class="col-md-6">
              <form class="mb-5 " method="post">
                {% include 'base/alert.html'  %}
                {% csrf_token %}
                <div class="row ">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Your name" Required>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-md-12 form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" Required>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" Required>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-md-12 form-group ">
                    <textarea class="form-control" name="desc" id="message" cols="30" rows="7" placeholder="Write your message" Required></textarea>
                  </div>
                </div>  
                <div class="row ">
                  <div class="col-12">
                    <input type="submit" value="Send Message" class="btn btn-primary rounded-0 py-2 px-4">
                  <span class="submitting"></span>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
    
    {% endblock %}